html,
body {
  margin: 0;
  padding: 0;
  font-family: "Kalnia", sans-serif;
  background-color: #e4dfdb;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

h1 {
  text-align: center;
}

/* Gameboard */
.grid {
  width: 300px;
  height: 300px;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  background: url("https://opengameart.org/sites/default/files/512x512_purple_nebula_1.png");
}

.grid div {
  width: 20px;
  height: 20px;
}

.invader {
  content: image-set("icons/ufo.png");
}

.shooter {
  content: image-set("icons/fighter-ship.png");
}

.laser {
  background-color: rgba(0, 255, 255, 0.6);
  border-radius: 10px;
}

.boom {
  background-color: purple;
  border-radius: 10px;
}
