@import "https://fonts.googleapis.com/css?family=Press+Start+2P";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Kalnia", sans-serif;
  background-color: #e4dfdb;
  color: #fff;
  user-select: none;
  background: url("https://opengameart.org/sites/default/files/512x512_purple_nebula_1.png");
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0px auto;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 5vmin;
  font-family: "Press Start 2P", sans-serif;
 }

/* Game board */
.grid {
  width: 300px;
  height: 300px;
  border: solid 4px #fff;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.invader {
  content: image-set("icons/ufo.png");
}

.shooter {
  content: image-set("icons/fighter-ship.png");
}

.laser {
  background-color: rgba(0, 255, 255, 0.6);
  border-radius: 10px;
}

.boom {
  background-color: purple;
  border-radius: 10px;
}
