html,
body {
  margin: 0;
  padding: 0;
  font-family: "Kalnia", sans-serif;
  background-color: #e4dfdb;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

h1 {
  text-align: center;
}

/* Gameboard */
.grid {
  width: 300px;
  height: 300px;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.invader {
  background-color: purple;
  border-radius: 10px;
}

.shooter {
  background-color: lightblue;
}

.laser {
  background-color: orange;
}

.boom {
  background-color: red;
}
